* {
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* utility class */
.bd-1 {
  border: 1px solid #000;
}

/* header */
.logo {
  text-decoration: none;
  color: inherit;
  font-size: 25px;
  font-weight: bold;
  margin-right: 20px;
}
.logo,
nav {
  display: inline-block;
}
.nav-ul {
  list-style: none;
  padding: 0;
}
.nav-li {
  display: inline-block;
}
.nav-item {
  text-decoration: none;
  color: inherit;
  border: 1px solid #000;
  padding: 10px 20px;
}
/* header */

.left {
  width: 45%;
  display: inline-block;
}

.right {
  width: 45%;
  display: inline-block;
}

.side-by-side {
  text-align: center;
}
